---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(153, 21, 21));
}

.page-header a {
    color: #bbf;
}

.bottombanner {
    width: 100%;
}

@for $i from 0 through 14 {
  div#abstract-#{$i} {
    display: none;
  }

  body.show-abstract-#{$i} div#abstract-#{$i} {
    display: block;
  }
}
